body {
  padding-top: 50px;
}
div.query {
  padding-top: 25px;
  text-align: center
}

.select_elements {
  width: 150px;
}

.input_word {
  width: 150px;
  margin:0 !important;
}

div.layout_div {
  width: 110px;
}

.left_align {
  float: left;
}

div.inline_elements {
  display:inline-block;
  vertical-align: top;
}

div.visualization {
  padding-top: 25px;
  text-align: center;
  padding-bottom: 25px;
}

.row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
