body {
  padding-top: 50px;
}

div.query {
  padding-top: 25px;
  text-align: center
}

.select_elements {
  min-width: 150px;
}

.input_element {
  min-width: 150px;
  width: 70%;
  margin:0 !important;
}

.left_align {
  float: left;
}

div.visualization {
  padding-top: 25px;
  text-align: center;
  padding-bottom: 25px;
}

div.fill_display_with_padding{
  padding-bottom:20px;
}

@media only screen and (min-width: 768px) {
  div.fill_display_with_padding{
    padding-bottom:100px;
  }
}

div.left_column {
  padding-top:10px;
  background-color:lavender;
  height:100%;
}

div.no-margin-bottom {
  margin-bottom: 0px !important;
}
