<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Web-based semantic visualization tool</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'view2D/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- js files -->
    <script src="{% static 'view2D/js/jquery.min.js' %}"></script>
    <script src="{% static 'view2D/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Custom styles for this template -->
    <link href="{% static 'view2D/css/contact.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../">Web-based semantic visualization tool</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="../">Query</a></li>
            <li><a href="../help">Help</a></li>
            <li class="active"><a href="../contact">Contact</a></li>
            <li><a href="../impressum">Impressum</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container padding_top_menu">
      <h2> Contact </h2>
      <div class="person">
        <div class="right" >
          <img src="../../static/view2D/img/SFB-251-top.jpg" width="300" style="border: 1px solid lightgrey">
        </div>
      <div class="left">
      <p class="well">

      Vera Demberg<br><br>
      Head of Independent Research Group in Saarbrücken,<br>
      Cluster of Excellence<br>
      Saarland University<br><br>
      email:   FIRSTNAME@coli.uni-saarland.de<br>
      address:<br>
          Saarland University<br>
          Campus C7.4<br>
          66123 Saarbrücken<br>
          Germany<br>
      office: Campus C7 4, room 3.05<br>
      phone: +49 (0)681 302 70024<br>
      </p>
    </div>
    </div>
    <br>
    <div class="person">
    <div class="right">
          <img src="../../static/view2D/img/twitterprofile_400x400.jpg" height="300" width="300" style="border: 1px solid lightgrey">
        </div>
        <div class="left">
        <p class="well">

        Asad Sayeed<br><br>
        TBF<br>
        TBF<br>
        Saarland University<br><br>
        email:   FIRSTNAME@coli.uni-saarland.de<br>
        address:<br>
            Saarland University<br>
            Campus C7.4<br>
            66123 Saarbrücken<br>
            Germany<br>
        office: Campus C7 4, TBF<br>
        phone: TBF<br>
        </p>
      </div>
</div>
    </div><!-- /.container -->
  </body>
</html>
