<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Web-based semantic visualization tool</title>

    <!-- Bootstrap core CSS -->
	<link href="{% static 'view2D/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'view2D/css/index.css' %}" rel="stylesheet">

	<!-- TODO add a local version of jquery.min.js -->
	<script src="{% static 'view2D/js/jquery.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static 'view2D/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="{% static 'view2D/js/index.js' %}"></script>

    <script src="{% static 'view2D/js/view2D.js' %}"></script>
	<script src="{% static 'view2D/js/inputTextFilter.js' %}"></script>
	   <!-- <script src="{% static 'view2D/js/xmlHttpRequest.js' %}"></script> -->
    <script type="text/javascript">
        //$().ready(updateQuerySet(createNodesFromJSON({{ data }})))
        function buttonClicked(){
			setIsInProcessing(true);
          $.ajax({
            url:      'query/',
            type:     'POST',
            data:     $('#myDiv').serialize(),
            async:    true,
            success:  function(response){
              updateQuerySet(createNodesFromJSON(response));
			  setIsInProcessing(false);
            }
          });
        }
    </script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Web-based semantic visualization tool</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="">Query</a></li>
            <li><a href="help">Help</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="impressum">Impressum</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div style="display:inline-block; width:9%"></div>
    <div style="display:inline-block; width:80%">
      <div class="query" id="query_form">
          <h1>WSVT</h1>

          <!-- first line with the descriptions for the input fields-->
          <div class="inline_elements  input_word">
            <span class="left_align">Noun:</span>
          </div>
          <div class="inline_elements select_role">
            <span class="left_align">Role:</span>
          </div>
          <div class="inline_elements input_word">
            <span class="left_align">Verb:</span>
          </div>
          <div class="inline_elements layout_div">
          </div><br>
          <form id="myDiv">
            <!-- second line for the actual input fields with tooltips-->
            <div class="inline_elements input_word" data-toggle="tooltip_noun" title="Add a noun here!">
              <input id="input_noun" type="text" name="noun" class="form-control"  placeholder="apple">
            </div>
            <div class="inline_elements" data-toggle="tooltip" title="Specify the role of the noun!">
              <select id="select_role" class="form-control select_role" name='role'>
                {% if role_list %}
                  {% for r in role_list %}
                      <option value="{{r.name}}">{{r.name}}</option>
                  {% endfor %}
                {% else %}
                  <p>No roles are available.</p>
                {% endif %}
              </select>
            </div>
            <div class="inline_elements input_word" data-toggle="tooltip" title="Add a verb!">
              <input id="input_verb" type="text" name="verb" class="form-control"  placeholder="eat">
            </div>
            <div class="inline_elements layout_div" data-toggle="tooltip_button" title="Send the query!">
              <button id="submitBtn" type='button' class="btn btn-primary" onclick=javascript:buttonClicked()>Submit Query</button>
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            </div><br>

            <!-- third line for the radio buttons-->
            <div class="inline_elements input_word radio">
              <label class="left_align">
                <input type="radio" name="group1" value="noun">Noun selects verb
              </label>
            </div>
            <div class="inline_elements select_role">
            </div>
            <div class="inline_elements input_word radio">
              <label class="left_align">
                <input type="radio" name="group1" value="verb" checked="checked">Verb selects noun
              </label>
            </div>
            <div class="inline_elements layout_div">
            </div>
          </form>

          </div><br>

      <div class="visualization" id="visualization_result">
        <canvas id="myCanvas" width="600" height="600" style="border:1px solid #000000;">
    			This text is displayed if your browser does not support HTML5 Canvas.
    		</canvas><br>
        <button type="submit" class="btn btn-primary">Download Result</button>
      </div>
    </div><!-- /.container -->

    <div style="display:inline-block; float:right; width:9%;">
        Change Model:
        <select class="form-control" name='model'>
          <option value="model1">Model 1</option>
          <option value="model2">Model 2</option>
          <option value="model3">Model 3</option>
        </select>
      </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>
    $('[data-toggle="tooltip"]').tooltip({'placement': 'top'});
    $('[data-toggle="tooltip_noun"]').tooltip({'placement': 'left'});
    $('[data-toggle="tooltip_button"]').tooltip({'placement': 'right'});
    </script>

  </body>
</html>
