body {
  padding-top: 50px;
}
div.query {
  padding-top: 200px;
  text-align: center;
}

select.select_model {
  width: 100px;
  display:inline-block;
}

input.input_word {
  width: 250px;
  display:inline-block;
}

img.visualization {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-bottom: 25px;
}

div.visualization {
  padding-top: 25px;
  text-align: center;
  display:none;
  padding-bottom: 25px;
}
